language: php

php:
  - "5.3"
  - "5.4"
  - "5.5"
  - hhvm

before_install:
  - composer self-update

before_script:
  - composer install --dev --no-interaction
  - mkdir -p build/logs

script:
  - phpunit --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v
